razorfish-heroes {
  h2 {
    color: $color-red;
  }
  .selected {
    background-color: $color-ccc;
    color: $color-white;
  }
  .heroes {
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
    width: 15em;
  }
  .heroes li {
    background-color: $color-eee;
    border-radius: 4px;
    cursor: pointer;
    height: 1.6em;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    position: relative;
  }
  .heroes li.selected:hover {
    background-color: $color-navy !important;
    color: $color-white;
  }
  .heroes li:hover {
    background-color: $color-ddd;
    color: $color-666;
    left: .1em;
  }
  .heroes .text {
    position: relative;
    top: -3px;
  }
  .heroes .badge {
    background-color: $color-666;
    border-radius: 4px 0 0 4px;
    color: $color-white;
    display: inline-block;
    font-size: small;
    height: 1.8em;
    left: -1px;
    line-height: 1em;
    margin-right: .8em;
    padding: .8em .7em 0 .7em;
    position: relative;
    top: -4px;
  }
}
