<div id="search-component">
    <h4>Hero Search</h4>
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
    <div>
        <!-- The *ngFor can't do anything with an Observable until we flow it through the async pipe (AsyncPipe). The async pipe subscribes to the Observable and produces the array of heroes to *ngFor. -->
        <div *ngFor="let hero of heroes | async" (click)="gotoDetail(hero)" class="search-result">
            {{hero.name}}
        </div>
    </div>
</div>
