// Global Styles

@import 'variables';
@import '../app/app.component';

h1 {
  color: $color-navy;
  font-family: $regular-font;
  font-size: 250%;
}

h2, h3 {
  color: $color-ccc;
  font-family: $regular-font;
  font-weight: lighter;
}
