// Global Styles

@import 'variables';
@import '../app/heroes.component';

* {
  box-sizing: border-box;
}

.button.active {
  background-color: $color-sun;
}

.delete {
  border: 0;
  color: $color-red;
  font-size: 2rem;
  margin-bottom: 0;
}

.search-result{
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:195px;
  height: 20px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}
#search-box{
  width: 200px;
  height: 20px;
}
