// Master Styles
@import url('https://fonts.googleapis.com/css?family=Poppins');

@import 'variables';
@import '../app/app.component';
//@import 'ionicons/css/ionicons.min';

h1 {
  color: $color-navy;
  font-family: $regular-font;
  font-size: 250%;
}

h2, h3 {
  color: $color-ccc;
  font-family: $regular-font;
  font-weight: lighter;
}
