// Master Styles
@import url('https://fonts.googleapis.com/css?family=Poppins');

@import 'theme/variables';

razorfish-heroes {
  h1 {
    color: $color-navy;
    font-family: $regular-font;
    font-size: 250%;
  }
  h2, h3 {
    color: $color-ccc;
    font-family: $regular-font;
    font-weight: lighter;
  }
  body {
    margin: $two-rem;
  }
}
